ion-view.view-user-read(view-title='{{user.nickname}}{{(user.nickname ? " - " : "")}}累计读书')
    ion-list
        .item.item-total
            h2 累计读书
            .read(ng-if="data.totalRead") {{data.totalRead}} 本
            .read(ng-if="!data.totalRead") 无已读书籍
        a.item.item-thumbnail-left(ng-repeat="group in data.groupList" href="#/tab/group/{{group.id}}")
            img(src="{{ group.groupImage }}")
            h2 {{ group.groupName }}
            h3 《{{ group.bookName }}》
            p {{ group.groupDesc }}