ion-view(view-title='请关注 MarkMark')
  ion-content
    .card
      .item.item-text-wrapper
        p
        | 请先关注
        em MarkMark
        | 公众号，然后由公众号进入该页面
        img(src="./src/img/qr_code.jpg")

