ion-view.view-punch-center(view-title="打卡" ng-show="userId")
    ion-list.punches-list
        ion-item.item.item-thumbnail-left(href="#/tab/group/{{punch.groupId}}" ng-repeat='punch in data')
            img(ng-src="{{punch.image}}")
            .punch-desc
                h2 {{punch.groupName}}
                h3 {{punch.bookName}}
                p 今日打卡：
                    span.punch-people {{punch.todayPunch || 0}}
                    | 人
                p 连续打卡：
                    span.punch-days {{punch.continuePunch || 0}}
                    | 天
            a.button.button-circular.yellow(ng-show="{{!punch.isPunch && !punch.isComplete}}" ng-click="postPunch({{punch.groupId}})") 我要打卡
            a.button.button-circular.yellow-bordered(ng-show="{{punch.isPunch}}" ng-click="showRemarks({{punch.groupId}})") 查看今日书评
            a.button.button-circular.cyan(ng-show="{{!punch.isPunch && punch.isComplete}}" ng-click="postRemark({{punch.groupId}})") 写书评
ion-view.view-need-focus(view-title='请关注 MarkMark' ng-show="!userId")
    ion-content
        .card
            .item.item-text-wrapper
                p
                    | 请先关注
                    em MarkMark
                    | 公众号，然后由公众号查看自己的打卡页面
                img(src="./src/img/qr_code.jpg")
