ion-view.view-remark-detail(view-title="书评")
    ion-list
        .item.book-title
            p 在《{{group.bookName}}》中发表的书评
        .item.item-avatar
            img(src="{{remark.user.headImgUrl}}")
            h2 {{remark.user.nickname}}
            p {{remark.remark.createTime | date:'y-MM-dd'}}
        .item.item-title
            h1 {{remark.remark.title}}
        .item.item-content
            p(ng-repeat="para in remark.remark.comment.split('\n')") {{para}}
        .item.item-likes
            h1 点赞&nbsp;{{remark.totalLike}}
            a.user-avatar-horizontal(href="#/tab/remark-detail-likes/{{remark.remark.id}}")
                .user-more
                    .icon.ion-ios-arrow-right
                .user-avatars
                    .avatar(ng-repeat="liker in remark.likelist", href="javascript:;")
                        img(src="{{liker.headImage}}")
        .item.item-replies
            h1 书评回复
            ion-list
                .item.item-avatar.rbb(ng-repeat="reply in remark.replylist")
                    img(src="{{reply.headImage}}")
                    h2 {{reply.nickName}}
                    p {{reply.interactDate | date:'yyyy-MM-dd'}}
                    p.content {{reply.content}}
form.bar.item-input-inset.bar-remark-tools(name="remarkReplyForm" novalidate)
    .button-bar(ng-show="!toggleReply")
        a.button.button-icon.icon.ion-thumbsup(ng-class="remarkLiked ? 'active' : ''", ng-click="doLike()")
        a.button.button-icon.icon.ion-android-chat(ng-click="toggleReply = true")
    button.button.button-clear.button-icon.icon.ion-ios-arrow-down(ng-show="toggleReply", ng-click="toggleReply = !toggleReply")
    label.item-input-wrapper(ng-show="toggleReply")
        textarea(type="text", name="remarkReplyContent", ng-model="remarkReplyContent" required)
    button.button.button-clear.button-positive(ng-show="toggleReply", ng-click="doReply()", ng-disabled="remarkReplyForm.remarkReplyContent.$invalid") 发送

