ion-list#profile_list
  ion-item.item-divider.custom-rewrite(ng-if='!readOnly')
  |   
  ion-item#user_label.item-avatar(ng-if='!readOnly')
    img(src='{{ user.avatar }}')
    |     
    .table
      .table-cell.text-middle
        h2 {{ user.name }}
  |   
  ion-item.item-divider.custom-rewrite(ng-if='!readOnly')
  |   
  ion-item.item.no-padding.bookshelf
    h2.divider-with-title
      span
        | &#x6BCF;&#x4E2A;&#x4EBA;&#x90FD;&#x662F;&#x4E00;&#x672C;&#x6709;&#x6545;&#x4E8B;&#x7684;&#x4E66;
    |     
    h2.small-title
      | 喜欢的书
    |     
    ul.book-container
      li.book-card(ng-repeat='book in favoriteBooks')
        .book-figure
          a(ng-if='!readOnly', href='#/tab/select/favorite/book/{{ book.id }}')
            img.img-responsive(src='{{ book.img }}')
            .book-label
              span
                | 修改
          a(ng-if='readOnly')
            img.img-responsive(src='{{ book.img }}')
        |         
        p.title {{ book.title }}
  |   
  ion-item.item.no-padding.bookshelf
    h2.small-title
      | 想看的书
    |     
    ul.book-container
      li.book-card(ng-repeat='book in bookList')
        .book-figure
          a(ng-if='!readOnly', href='#/tab/select/bookList/book/{{ book.id }}')
            img.img-responsive(src='{{ book.img }}')
            .book-label
              span
                | 修改
          a(ng-if='readOnly')
            img.img-responsive(src='{{ book.img }}')
        |         
        p.title {{ book.title }}
  |   
  ion-item.item-divider.custom-rewrite
  |   
  .item.item-complex.item-icon-right(ng-if='!readOnly')
    a.item-content(href='#/tab/edit-gender')
      | &#x6027;&#x522B;
      span.item-note
        | {{ user.gender }}
      |       
      i.icon.ion-chevron-right
  |   
  .item(ng-if='readOnly')
    | &#x6027;&#x522B;
    span.item-note
      | {{ user.gender }}
  |   
  ion-item.item.item-icon-right(ng-if='!readOnly', href='#/tab/edit-interests')
    | &#x5174;&#x8DA3;&#x9886;&#x57DF;
    span.item-note
      | {{ user.interests }}
    |     
    i.icon.ion-chevron-right
  |   
  ion-item.item(ng-if='readOnly')
    | &#x5174;&#x8DA3;&#x9886;&#x57DF;
    span.item-note
      | {{ user.interests }}
  |   
  ion-item.item.item-icon-right(ng-if='!readOnly', href='#/tab/edit-description')
    | &#x63CF;&#x8FF0;
    span.item-note.normal-span
      | {{ user.description }}
    |     
    i.icon.ion-chevron-right
  |   
  ion-item.item(ng-if='readOnly')
    | &#x63CF;&#x8FF0;
    span.item-note.normal-span
      | {{ user.description }}
  |   
  ion-item.item-divider.custom-rewrite
  |   
  ion-item.item.item-icon-right(ng-if='!readOnly', href='#/tab/select-region-city')
    | &#x57CE;&#x5E02;
    span.item-note
      | {{ user.region }}
    |     
    i.icon.ion-chevron-right
  |   
  ion-item.item(ng-if='readOnly')
    | &#x57CE;&#x5E02;
    span.item-note
      | {{ user.region }}
  |   
  ion-item.item.item-icon-right(ng-if='!readOnly', href='#/tab/edit-occupation')
    | &#x804C;&#x4E1A;
    span.item-note
      | {{ user.occupation }}
    |     
    i.icon.ion-chevron-right
  |   
  ion-item.item(ng-if='readOnly')
    | &#x804C;&#x4E1A;
    span.item-note
      | {{ user.occupation }}
  |   
  ion-item.item.item-icon-right(ng-if='!readOnly', href='#/tab/edit-college')
    | &#x5B66;&#x6821;
    span.item-note
      | {{ user.college }}
    |     
    i.icon.ion-chevron-right
  |   
  ion-item.item(ng-if='readOnly')
    | &#x5B66;&#x6821;
    span.item-note
      | {{ user.college }}
  |   
  ion-item.item-divider.custom-rewrite
  |   
  ion-item.item.item-icon-right(ng-if='!readOnly', href='#/tab/edit-constellation')
    | &#x661F;&#x5EA7;
    span.item-note
      | {{ user.constellation }}
    |     
    i.icon.ion-chevron-right
  |   
  ion-item.item(ng-if='readOnly')
    | &#x661F;&#x5EA7;
    span.item-note
      | {{ user.constellation }}
  |   
  ion-item.item.item-icon-right(ng-if='!readOnly', href='#/tab/edit-relationship')
    | &#x60C5;&#x611F;&#x72B6;&#x6001;
    span.item-note
      | {{ user.relationship }}
    |     
    i.icon.ion-chevron-right
  |   
  ion-item.item(ng-if='readOnly')
    | &#x60C5;&#x611F;&#x72B6;&#x6001;
    span.item-note
      | {{ user.relationship }}
  |   
  ion-item.item-divider
