ion-list.profile_list
  ion-item.item-divider.custom-rewrite(ng-if='!readOnly.common')
  |   
  ion-item#user_label.item-avatar(ng-if='readOnly.head')
    img(src='{{ user.headImgUrl }}')
    |     
    .table
      .table-cell.text-middle
        h2 {{ user.nickname }}
  |   
  ion-item.item-divider.custom-rewrite(ng-if='!readOnly.common')
  |   
  ion-item.item.bookshelf
    .book-list
      h2 喜欢的书
      .book-item-wrapper(ng-repeat='book in bookList.likeList')
        .book-item
          img(src='{{ book.image }}')
          p.title {{ book.title }}
          .round-badge.red.lg.book-delete(ng-if="!readOnly.common" ng-click="deleteBook('like', book)")
            i.icon.ion-minus
      .book-item-wrapper(ng-if="!readOnly.common")
        a.book-item(href='#/tab/select/like/book')
          .book-add
            i.icon.ion-ios-plus-outline
      .book-item-wrapper(ng-if="!readOnly.common")
        a.book-item(href='#/tab/select/like/book')
          .book-add
            i.icon.ion-ios-plus-outline
      .book-item-wrapper(ng-if="!readOnly.common")
        a.book-item(href='#/tab/select/like/book')
          .book-add
            i.icon.ion-ios-plus-outline
  ion-item.item.bookshelf
    .book-list
      h2 想看的书
      .book-item-wrapper(ng-repeat='book in bookList.wantList')
        .book-item
          img(src='{{ book.image }}')
          p.title {{ book.title }}
          .round-badge.red.lg.book-delete(ng-if="!readOnly.common" ng-click="deleteBook('want', book)")
            i.icon.ion-minus
      .book-item-wrapper(ng-if="!readOnly.common")
        a.book-item(href='#/tab/select/want/book')
          .book-add
            i.icon.ion-ios-plus-outline
      .book-item-wrapper(ng-if="!readOnly.common")
        a.book-item(href='#/tab/select/want/book')
          .book-add
            i.icon.ion-ios-plus-outline
      .book-item-wrapper(ng-if="!readOnly.common")
        a.book-item(href='#/tab/select/want/book')
          .book-add
            i.icon.ion-ios-plus-outline
  ion-item.item-divider.custom-rewrite
  |   
  .item.item-complex.item-icon-right(ng-if='!readOnly.gender')
    a.item-content(href='#/tab/edit-gender')
      | 性别
      span.item-note
        | {{ genderMap[user.gender] }}
      |       
      i.icon.ion-chevron-right
  |   
  .item(ng-if='readOnly.gender')
    | 性别
    span.item-note
      | {{ genderMap[user.gender] }}
  |   
  ion-item.item.item-icon-right(ng-if='!readOnly.common', href='#/tab/edit-interests')
    | 兴趣领域
    span.item-note
      | {{ user.interests }}
    |     
    i.icon.ion-chevron-right
  |   
  ion-item.item(ng-if='readOnly.common')
    | 兴趣领域
    span.item-note
      | {{ user.interests }}
  |   
  ion-item.item.item-icon-right(ng-if='!readOnly.common', href='#/tab/edit-description')
    | 描述
    span.item-note.normal-span
      | {{ user.intro }}
    |     
    i.icon.ion-chevron-right
  |   
  ion-item.item(ng-if='readOnly.common')
    | 描述
    span.item-note.normal-span
      | {{ user.intro }}
  |   
  ion-item.item-divider.custom-rewrite
  |   
  ion-item.item.item-icon-right(ng-if='!readOnly.region', href='#/tab/select-region-city')
    | 城市
    span.item-note
      | {{ user.city || user.province }}
    |     
    i.icon.ion-chevron-right
  |   
  ion-item.item(ng-if='readOnly.region')
    | 城市
    span.item-note
      | {{ user.city || user.province }}
  |   
  ion-item.item.item-icon-right(ng-if='!readOnly.common', href='#/tab/edit-occupation')
    | 职业
    span.item-note
      | {{ user.occupation }}
    |     
    i.icon.ion-chevron-right
  |   
  ion-item.item(ng-if='readOnly.common')
    | 职业
    span.item-note
      | {{ user.occupation }}
  |   
  ion-item.item.item-icon-right(ng-if='!readOnly.common', href='#/tab/edit-college')
    | 学校
    span.item-note
      | {{ user.school }}
    |     
    i.icon.ion-chevron-right
  |   
  ion-item.item(ng-if='readOnly.common')
    | 学校
    span.item-note
      | {{ user.school }}
  |   
  ion-item.item-divider.custom-rewrite
  |   
  ion-item.item.item-icon-right(ng-if='!readOnly.common', href='#/tab/edit-constellation')
    | 星座
    span.item-note
      | {{ user.constellation }}
    |     
    i.icon.ion-chevron-right
  |   
  ion-item.item(ng-if='readOnly.common')
    | 星座
    span.item-note
      | {{ user.constellation }}
  |   
  ion-item.item.item-icon-right(ng-if='!readOnly.common', href='#/tab/edit-relationship')
    | 情感状态
    span.item-note
      | {{ affectiveMap[user.affectiveStatus] }}
    |     
    i.icon.ion-chevron-right
  |   
  ion-item.item(ng-if='readOnly.common')
    | 情感状态
    span.item-note
      | {{ affectiveMap[user.affectiveStatus] }}
  |   
  ion-item.item-divider
