ion-view(view-title='描 述')
  ion-content
    ion-list
      ion-item.item-divider.custom-rewrite
      |       
      label.item.item-input
        textarea(ng-model='description', rows='9', placeholder='描述...')
    |     
    .padding
      button.button.button-block.button-energized(ng-click='onSubmit(description)') &#x4FDD;&#x5B58;
