ion-view(view-title='城 市')
  ion-content
    ion-list
      ion-item.item-divider.custom-rewrite
      |       
      ion-item.item.item-icon-right(ng-repeat='regionCity in regionCities', href='#/tab/edit-region/{{ regionCity.value }}')
        | {{ regionCity.title }}
        i.icon.ion-chevron-right
