ion-view.view-select-book(view-title='{{ selectTypeTitle }}')
  ion-content
    ion-list
      ion-item.item-divider.custom-rewrite
      |       
      .item-input-inset
        label.item-input-wrapper
          i.icon.ion-search.placeholder-icon
          |           
          input.search-book-input(type='text', ng-model='search.text', ng-change="onSearchTextChanged()", placeholder='Search')
      |       
      ion-item.item-thumbnail-left.book-item(ng-repeat='book in search.results', ng-click='onBookSelect(book)')
        img(src='{{ book.images.small || book.images.medium || book.images.large }}')
        |         
        h2 {{ book.title }}
        |         
        p {{ book.summary }}
