/* typography related css */

html,
body,
ion-view,
ion-nav-view,
.pane {
  background-color: #f6f6f6;
}

.pane {
  border-bottom: 1px #ddd solid;
}

h2.small-title {
    font-size: 0.8em;
    margin: 1em 0 1em;
}

.pull-center {
  margin: 0 auto 30px;
}

.text-center {
  text-align:center;
}

.text-middle {
  vertical-align: middle;
}

p.normal-p, span.normal-span {
  overflow: inherit;
  text-overflow: ellipsis;
  white-space: normal;
}

.no-padding {
  padding: 0px 0px 0px 0px;
}

.no-top-padding {
  padding-top: 0px;
}
.no-bottom-padding {
  padding-bottom: 0px;
}
.no-left-padding {
  padding-left: 0px;
}
.no-right-padding {
  padding-right: 0px;
}

.half-width {
  width: 50%;
}

.no-border {
  border: none;
}

.button-bar.no-border-radius > .button:first-child {
  border-radius: 0 0 0 0;
}

.button-bar.no-border-radius > .button:last-child {
  border-radius: 0 0 0 0;
}

/* table alike */
.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

/* 公共样式 */

.text-center {
  text-align: center;
}

/* rotation animation */
@keyframes rotation-anim {
  from { transform: rotate(0deg);   -ms-transform: rotate(0deg);   }
  to   { transform: rotate(360deg); -ms-transform: rotate(360deg); }
}
@-moz-keyframes rotation-anim {
  from { -moz-transform: rotate(0deg);   }
  to   { -moz-transform: rotate(360deg); }
}
@-o-keyframes rotation-anim {
  from { -o-transform: rotate(0deg);   }
  to   { -o-transform: rotate(360deg); }
}
@-webkit-keyframes rotation-anim {
  from { -webkit-transform: rotate(0deg);   }
  to   { -webkit-transform: rotate(360deg); }
}
.rotating {
  animation: rotation-anim 1s infinite;
  -moz-animation: rotation-anim 1s infinite;
  -o-animation: rotation-anim 1s infinite;
  -webkit-animation: rotation-anim 1s infinite;
  transform-origin: center center;
  -ms-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -webkit-transform-origin: center center;
}

/* 底部导航 */
ion-tabs.tabs-bottom.tabs-color-active-dark .tab-item{
  color: #444;
}
ion-tabs.tabs-bottom.tabs-color-active-dark .tab-item{
  color: #444;
}
.ion-ios-discovery:before,.ion-ios-clockin:before,.ion-ios-chats:before,.ion-ios-account:before,.ion-ios-discovery-outline:before,.ion-ios-clockin-outline:before,.ion-ios-chats-outline:before,.ion-ios-account-outline:before{
  display: inline-block;
  content: "\20";
  font-variant: normal;
  line-height: 1;
  width: 32px;
  height: 32px;
  background: no-repeat center center;
  background-size: 70%;
}
.ion-ios-discovery:before{
  background-image: url("../img/tabicon_book_active.png");
}
.ion-ios-clockin:before{
  background-image: url("../img/tabicon_review_active.png");
}
.ion-ios-chats:before{
  background-image: url("../img/tabicon_msg_active.png");
}
.ion-ios-account:before{
  background-image: url("../img/tabicon_me_active.png");
}
.ion-ios-discovery-outline:before{
  background-image: url("../img/tabicon_book.png");
}
.ion-ios-clockin-outline:before{
  background-image: url("../img/tabicon_review.png");
}
.ion-ios-chats-outline:before{
  background-image: url("../img/tabicon_msg.png");
}
.ion-ios-account-outline:before{
  background-image: url("../img/tabicon_me.png");
}
.pane.pane-visible{
  overflow: visible;
  border-bottom: none;
}

/* image related css 书籍列表封面图 */
img.img-responsive {
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
}

img.img-circular {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* 蓝色可编辑按钮 */
.slim-button {
  line-height: 40px;
  min-height: 40px;
  min-width: 40px;
}

/* 对话框们 */

.need-focus-dialog {
  p {
    white-space: normal;
  }
  img {
    max-width: 100%;
    margin: 0px auto;
  }
}

/* .item-divider */
.item-divider.custom-rewrite {
  min-height: 10px;
}

/* 圆角黄色二级选项卡 */
.circular-button-bar > .button{
  border: 1px solid #ccc;
  background-color: #fafafa;
}
.circular-button-bar > .button:first-child {
    border-radius: 17px 0 0 17px;
    border-right:0;
}

.circular-button-bar .button:last-child {
    border-radius: 0 17px 17px 0;
    border-left:0;
}
.bar-light .circular-button-bar .button.active, .bar-light .circular-button-bar .button.activated{
  background: #fdd446;
  color: #fff;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.05);
  font-weight: bold;
}
.bar-header .button-bar{
  margin-top: 5px;
}



/* 圆角彩色按钮 */

@color-yellow: #fcd353;
@color-cyan: #37b1ae;
@color-gray: #999;
@color-orange: #ed6833;
@color-lblue: #5291f4;
@color-red: red;

.button.button-circular {
  height: 34px;
  min-height: 24px;
  line-height: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 17px;
}
.button.button-circular.yellow {
  background-color: @color-yellow;
  color: white;
}
.button.button-circular.yellow-bordered {
  background-color: white;
  color: @color-yellow;
  border: 1px @color-yellow solid;
}
.button.button-circular.cyan {
  background-color: @color-cyan;
  color: white;
}
.button.button-circular.cyan-bordered {
  background-color: white;
  color: @color-cyan;
  border: 1px @color-cyan solid;
}
.button.button-circular.red {
  background-color: @color-red;
  color: white;
}
.button.button-circular.red-bordered {
  background-color: white;
  color: @color-red;
  border: 1px @color-red solid;
}

/* 圆角标签 */

.round-badge {
  display: block;
  padding: 3px 5px;
  height: 16px;
  min-width: 16px;
  border-radius: 8px;
  font-size: 10px;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  background-color: white;
  color: white;
}
.round-badge.red { background-color: @color-red; }
.round-badge.cyan { background-color: @color-cyan; }
.round-badge.yellow { background-color: @color-yellow; }
.round-badge.gray { background-color: @color-gray; }
.round-badge.sm {}
.round-badge.lg {
  padding: 4px 7px;
  height: 20px;
  min-width: 20px;
  border-radius: 10px;
  font-size: 12px;
}

/* 需要关注公众号卡片 */

.view-need-focus {
  p {
    white-space: normal;
    margin: 0px 15px;
    font-size: 14px;
  }
  em {
    font-weight: bold;
    font-style: italic;
    margin: 0px 3px;
  }
  img {
    max-width: 100%;
    margin: 0 auto;
  }
}





/* user center 用户中心主页 */
ion-content#user_center ion-list .list > ion-item:nth-child(1) .item-content {
  padding-left: 92px;
}

ion-content#user_center ion-list .list > ion-item:nth-child(1) > a > img {
  min-height: 60px;
  min-width: 60px;
}

/* button related css page 个人页面 */

.profile_page .item .button-bar .button {
  padding: 0 0 0 0;
}

.profile_page .button-bar .button.border-bottom-active {
  border-bottom: 0.2em solid;
}
/* rewrite css of 个人主页 头像和简介 */
.item-avatar.custom-rewrite {
  padding-left: 80px;
  margin-left: 10px;
  margin-right: 10px;
  border-left: none;
  border-right: none;
}

.item-avatar.custom-rewrite > img:first-child {
  position: absolute;
  top: 16px;
  left: 10px;
  width:auto;
  height: 100%;
  max-width: 60px;
  max-height: 60px;
}

/* statistic related css uer-center 统计 */

.statistic {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: auto;
}

.statistic a {
  text-decoration: none;
}

.statistic .value {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 200;
  line-height: 1em;
  color: #1b1c1d;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
}

.statistic .label {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1em;
  color: rgba(0,0,0,.87);
  text-transform: uppercase;
  text-align: center;
}

/* 用户圆头像横向列表 */

.user-avatar-horizontal {

  display: block;
  font-size: 0px;

  .user-avatars {
    white-space: nowrap;
    overflow: hidden;
    white-space: normal;
    margin-right: 30px;
    height: 40px;
  }

  .user-avatars .avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: top;
    margin: 0px 5px;
  }

  .user-avatars .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .user-more {
    display: block;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    width: 30px;
    float: right;
    text-align: center;
    color: #666;
  }
}

/* right-bottom-borderd list */

ion-list .item.rbb {
  border: none;
  & p.content {
    padding-bottom: 15px;
    margin-bottom: -15px;
    min-height: 35px;
    border-bottom: 1px solid #ddd;
  }
  &:last-child p.content {
    border-bottom: none;
  }
}



/* 书籍横向列表 */
.book-container {
  display: block;
  width: 100%;
  margin: 1em 0 1em;
}
.book-card {
  display: block;
  float: left;
  width: 33.333333%;
  padding-left: 8.333333%;
  padding-right: 8.333333%;
}
.book-figure {
  position: relative;
}
.book-card > p.title {
  font-size: 0.8em;
}
.book-card .book-label {
  position: absolute;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.44);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.8em;
}

.bookshelf .book-list {
  font-size: 0px;
  white-space: nowrap;
  h2 {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .book-item-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    height: auto;
  }
  .book-item {
    position: relative;
    display: block;
    margin: 0px auto;
    width: 70px;
    height: 168px;
  }
  a.book-item,
  a.book-item:link,
  a.book-item:visited,
  a.book-item:active,
  a.book-item:hover {
    text-decoration: none;
  }
  .book-item img,
  .book-item .book-add {
    display: block;
    margin: 0px auto;
    width: 67px;
    height: 104px;
  }
  .book-item img {
    box-shadow: 3px 3px 10px -5px black;
  }
  .book-item .book-add {
    position: relative;
    background-color: #eee;
    text-align: center;
  }
  .book-item .book-add .icon {
    position: relative;
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    color: #ccc;
    top: 50%;
    margin-top: -15px;
  }
  .book-item p {
    font-size: 14px;
    line-height: 16px;
    height: 32px;
    white-space: normal;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #333;
    text-decoration: none;
  }
  .book-item .book-delete {
    position: absolute;
    right: -10px;
    top: -10px;
  }
}


.view-select-book {
  .search-book-input {
    width: 100%;
  }

  .book-item {
    img {
      width: 67px;
      height: 104px;
    }
    h2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
      line-height: 16px;
      max-height: 32px;
      white-space: normal;
    }
  }
}

.item.item-remark {
  border: none;
  h1 {
    margin: 0px;
    font-size: 20px;
    margin-bottom: 7px;
  }

  h2 {
    margin: 0px;
    font-size: 18px;
    color: #333;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .content {
    line-height: 18px;
    font-size: 14px;
    max-height: 72px;
    white-space: normal;
  }

  .meta {
    border-bottom: 1px #ddd solid;
    padding-bottom: 15px;
    margin-bottom: -15px;
    margin-top: 5px;
  }

  .meta-item {
    margin-right: 10px;
  }

  .meta-item .icon {
    color: #ddd;
    margin: auto 5px;
    position: relative;
  }

  .meta-item .icon.ion-android-chat {
    top: 2px;
  }

  .meta-item .number {
    display: inline-block;
    min-width: 30px;
  }
}

/* card-table css */
.card-table-row .item {
  border: none;
  margin: 0px;
}
/* editProfile 个人资料编辑 */
ion-list.profile_list ion-item#user_label {
  padding: 10px;
  padding-left: 80px;
}

ion-list.profile_list ion-item#user_label > img {
  top: 10px;
  left: 10px;
  min-height: 60px;
  min-width: 60px;
}

ion-list.profile_list ion-item#user_label > div.table {
  min-height: 60px;
}


ion-list.profile_list > .list > .bookshelf {
  border: none;
}

ion-list.profile_list > .list > ion-item.bookshelf + ion-item {
  border-top: 1px solid #ddd;
}

.profile_list .item-complex.item-icon-right .item-content {
  padding-right: 32px;
}

.profile_list .item-icon-right .icon {
  right: 0px;
  font-size: 1em;
}


/* groups-center 小组模块 */
.groups-list .item-thumbnail-left .item-content > img:first-child{
max-width: 50px;
max-height: 75px;
width: 100%;
height: 100%;
top: 25px;
}
.groups-list .item-thumbnail-left .item-content{
  padding: 26px 49px 26px 76px;
}

.groups-list .item h2{
  margin-bottom: 10px;
}
.groups-list .item h3{
  margin-bottom: 10px;
  color: #666;
} 
.groups-list .item .round-badge {
  position: absolute;
  right: 15px;
  top: 50px;
}
.ass-list .item-thumbnail-left .item-content > img:first-child{
max-width: 50px;
max-height: 50px;
top: 25px;
}

.ass-list .item-thumbnail-left .item-content{
  padding: 26px 49px 26px 76px;
}

.ass-list .item h2{
  margin-bottom: 10px;
}
.center-header {
  padding-bottom: 80px;
  position: relative;
  text-align: center;
}
.center-header .cover_warp{
  width: 100px;
  margin: 40px auto;
}
.center-header .cover_warp img{
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.center-header h2{
  font-size: 18px;
  margin-bottom: 10px;
}
.center-header h3{
  font-size: 16px;
  margin-bottom: 5px;
  color: #666;
}
.center-header h4{
  font-size: 14px;
  color: #999;
}
.tabs-striped.custom-tabs .tab-item.tab-item-active, .tabs-striped.custom-tabs .tab-item.active, .tabs-striped.custom-tabs .tab-item.activated{
    margin-top: 1px;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #ffb919;
    color: #ffb919;
}
.tabs-striped.custom-tabs.tabs-background-light .tabs{
  border-top: 1px solid #f1f1f1!important;
}
.users-list-h-warp{
  padding: 20px;
  box-sizing: border-box;
}
.users-list-h-warp h3{
  font-size: 16px;
}
.users-list-h-warp .row ul li{
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  margin-right: 5px;
}
.users-list-h-warp .row ul{
  overflow: hidden;
  height: 30px;
  text-overflow: ellipsis;
  white-space: normal;
}

.users-list-h-warp .row .ion-ios-arrow-right{
  font-size: 20px;
  margin-top: 5px;
}

.as-detail .center-header{
  padding-bottom: 20px;
}
.as-detail .center-header .cover_warp{
  width: 100px;
  height: 100px;
  background: no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}
.books-list-grid .note{
  padding: 5px 0;
  margin: 0 10px 10px 10px;
  border-bottom: 1px solid #ccc;
}

.view-groups-center {
  .title {
    left: 55px;
    right: 55px;
  }
}

.view-group-detail-intr {
  // padding-bottom: 40px;
  .intr-list .item > h4 {
    font-size: 16px;
  }
  .intr-list .item .button {
    display: block;
  }

  p.desc {
    white-space: normal;
  }
}

/* as detail */
.view-as-detail {
  padding-bottom: 40px;
  overflow-y: scroll;

  .as-detail {
    background-color: white;
  }

  .center-header,
  .as-intr,
  .book-cat-list {
    padding: 16px;
  }

  .icon-collapse {
    font-size: 20px;
  }

  .center-header{
    padding-bottom: 20px;
    border-bottom: 1px #ddd solid;
  }
  .center-header .cover_warp{
    width: 100px;
    height: 100px;
    background: no-repeat center center;
    background-size: cover;
    border-radius: 50%;
  }
  .center-header h2 {
    margin-bottom: 30px;
  }

  .as-intr {
  }

  .as-intr h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .as-intr p {
    white-space: normal;
    height: auto;
    color: #333;
    line-height: 20px;
    font-size: 14px;
    max-height: 80px;
    overflow: hidden;
  }
  .as-intr p.uncollapsed {
    max-height: none;
  }

  .book-cat-item {
    margin-bottom: 15px;
  }
  .book-cat-item > h2 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px #ccc solid;
    border-bottom-width: 0.5px;
  }

  .book-list {
    font-size: 0px;
    max-height: 332px;
    overflow: hidden;
  }
  .book-list.uncollapsed {
    max-height: none;
  }

  .book-item-wrapper {
    padding-top: 10px;
    display: inline-block;
    vertical-align: top;
    width: 33%;
    height: 166px;
  }
  a.book-item-wrapper,
  a.book-item-wrapper:active,
  a.book-item-wrapper:link,
  a.book-item-wrapper:visited,
  a.book-item-wrapper:hover {
    text-decoration: none;
  }
  .book-item {
    position: relative;
    display: block;
    margin: 0px auto;
    width: 70px;
  }
  .book-item img {
    display: block;
    margin: 0px auto;
    width: 67px;
    height: 104px;
    box-shadow: 3px 3px 10px -5px black;
  }
  .book-item p {
    font-size: 14px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #333;
    text-decoration: none;
  }
  .book-item .round-badge {
    position: absolute;
    right: -10px;
    top: -10px;
    box-shadow: 3px 3px 10px -5px black;
  }
}

/* group user list */
.view-group-user-list {
  padding-bottom: 40px;
  overflow-y: scroll;

  .item {
    position: relative;
  }

  .item .round-badge {
    position: absolute;
    right: 25px;
    top: 25px;
  }
}

/* punch-center */

.view-punch-center {
  overflow-y: scroll;
  padding-bottom: 40px;

  .punches-list .item-thumbnail-left .item-content > img:first-child{
    max-width: 65px;
    max-height: 97px;
    width: 100%;
    height: 100%;
    top: 25px;
  }
  .punches-list .item-thumbnail-left .item-content{
    padding: 26px 49px 26px 91px;
  }

  .punches-list .item h2{
    margin-bottom: 10px;
  }
  .punches-list .item h3{
    margin-bottom: 10px;
    color: #666;
  }
  .punches-list .item .punch-days {
    color: @color-red;
  }
  .punches-list .item .punch-desc {
    min-height: 97px;
  }
  .punches-list .item .button {
    display: block;
    margin-left: -81px;
    margin-right:  -39px;
    margin-top: 10px;
  }
}

/* edit-remark */

.view-edit-remark {

  overflow-y: scroll;
  padding-bottom: 40px;

  .item {
    color: #999;
  }

  .page-and-pic {
    position: relative;
    white-space: nowrap;
    line-height: 47px;
  }
  .page-and-pic > * {
    vertical-align: middle;
  }
  .page-and-pic > input {
    background-color: #eeeeee;
    display: inline-block;
    width: 70px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  .page-and-pic > input:first-child {
    margin-left: 0px;
  }
  .page-and-pic > input:last-child {
    margin-right: 0px;
  }
  .page-and-pic .button {
    position: absolute;
    right: 10px;
  }

  .input-title input {
    font-weight: bold;
  }
  .input-content {
    // border-bottom: none;
  }
  .input-content textarea {
    min-height: 90px;
    resize: none;
    overflow-y: scroll;
  }

  .button-take-photo {
    position: relative;
  }
  .input-file {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
  }

  .pic-list {
    font-size: 0px;
    white-space: normal;
  }
  .pic-list .thumbnail {
    width: 80px;
    height: 80px;
    border: 1px #ddd solid;
    position: relative;
    display: inline-block;
    margin: 6px;
  }
  .pic-list .thumbnail .thumbnail-pic {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .pic-list .thumbnail .thumbnail-pic img {
    width: 100%;
    height: 100%;
  }
  .pic-list .thumbnail .thumbnail-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }
  .pic-list .thumbnail .thumbnail-mask .icon {
    position: absolute;
    display: block;
    line-height: 1;
    font-size: 30px;
    width: 30px;
    height: 30px;
    left: 25px;
    top: 25px;
    color: white;
  }
  .pic-list .thumbnail .thumbnail-mask .icon.ion-load-c {
    width: 26px;
    height: 28px;
    left: 27px;
    top: 26px;
    .rotating;
  }
  .pic-list .thumbnail .thumbnail-delete {
    position: absolute;
    right: -10px;
    top: -10px;
  }

  .item .button-line {
    display: block;
  }

  .button-line-group .button-line {
    margin-bottom: 10px;
  }

  .error {
    color: red;
  }
}

/* remark-detail */

.view-remark-detail {
  overflow-y: scroll;
  padding-bottom: 83px;

  .book-title {
    border-bottom: none;
    padding: 15px 20px 5px 20px;
  }

  h1 {
    font-size: 18px;
  }

  .item-avatar {
    border: none;
  }

  .item-title {
    border: none;
  }
  .item-title h1 {
    font-size: 28px;
  }
  .item-content {
    border-top: none;
  }
  .item-content p {
    white-space: normal;
    font-size: 14px;
    line-height: 20px;
    min-height: 20px;
  }
  .item-content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 5px auto;
  }

  .item-replies p.content {
    white-space: normal;
  }

}

.bar-remark-tools {
  background-color: white;
  border-color: #ddd;
  border-width: 1px;
  border-top-style: solid;
  position: fixed;
  bottom: 49px;
  height: auto;
}

.bar-remark-tools .button-bar {
  margin-top: -7px;
  margin-bottom: -7px;
}

.bar-remark-tools .button-bar .button {
  opacity: 1;
}

.bar-remark-tools .icon.active {
  color: #fdd446;
}

.bar-remark-tools .item-input-wrapper {
  height: auto;
  padding: 5px;
}

.bar-remark-tools .item-input-wrapper textarea {
  width: 100%;
  height: 40px;
  resize: none;
  background-color: transparent;
}

/* message-list */

.view-message-list {

  overflow-y: scroll;
  padding-bottom: 40px;

  .item {
    position: relative;
  }
  .item-date {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #666;
    font-size: 12px;
  }
  .item p.content {
    white-space: normal;
  }
}

/* message-center */

.view-message-center {

  overflow-y: scroll;
  padding-bottom: 40px;

  .item {
    position: relative;
  }

  .item .round-badge {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

/* view-group-detail-comment */

.view-group-detail-comment {

  .circular-button-bar {
    padding: 10px 30px;
    background-color: white;
    width: auto;
  }

  .circular-button-bar .button {
    height: 34px;
    min-height: 34px;
    line-height: 34px;
  }
}

/* remark liker list */

.view-remark-like-list {
  .item.item-avatar {
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .item h2 {
    position: relative;
    top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px #ddd solid;
  }
}

.view-user-center {
  .item-avatar {
    min-height: 100px;
  }
  .item-avatar .item-content {
    min-height: 100px;
  }
  .item-avatar .item-content h2 {
    margin-top: 10px;
  }
  .item-avatar .icon.ion-chevron-right {
    height: 100px;
  }

  .card-table {
    border: 1px #ddd solid;
  }
  .card-table .row {
    margin: 0px;
    border-bottom: 1px #ddd solid;
  }
  .card-table .row:last-child {
    border-bottom: none;
  }
  .card-table .col {
    border-right: 1px #ddd solid;
  }
  .card-table .col:last-child {
    border-right: none;
  }
  .card-table-cell .item-thumbnail {
    height: 120px;
    padding: 0px 15px 0px 80px;
  }
  .card-table-cell .item-thumbnail h2 {
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    margin-top: 51px;
  }
  .card-table-cell .item-thumbnail img {
    position: absolute;
    display: block;
    top: 35px;
    left: 15px;
    width: 50px;
    height: 50px;
  };
}

.view-user-detail {
  .info > * { margin-right: 3px; margin-left: 3px; }
  .info .ion-male { color: @color-lblue; }
  .info .ion-female { color: @color-orange; }
  .button-edit-profile {
    padding: 4px 40px;
  }

  .item-user-profile {
    padding: 0px;
    background-color: transparent;
  }

  .book-list {
    font-size: 0px;
    h2 {
      font-size: 18px;
      color: #999;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    .book-item-wrapper {
      display: inline-block;
      vertical-align: top;
      width: 33%;
      height: auto;
    }
    .book-item {
      position: relative;
      display: block;
      margin: 0px auto;
      width: 70px;
    }
    a.book-item,
    a.book-item:link,
    a.book-item:visited,
    a.book-item:active,
    a.book-item:hover {
      text-decoration: none;
    }
    .book-item img {
      display: block;
      margin: 0px auto;
      width: 67px;
      height: 104px;
      box-shadow: 3px 3px 10px -5px black;
    }
    .book-item p {
      font-size: 14px;
      line-height: 16px;
      height: 32px;
      white-space: normal;
      overflow: hidden;
      margin-top: 10px;
      margin-bottom: 20px;
      color: #333;
      text-decoration: none;
    }
  }

  .list-profile {
    .list {
      margin-top: 20px;
    }
    .profile-item {
      font-size: 16px;
    }
    .profile-prop {
      height: 30px;
      width: 80px;
      float: left;
      line-height: 16px;
      padding: 7px 5px;
      white-space: nowrap;
      color: #999;
    }
    .profile-value {
      display: block;
      margin-left: 80px;
      min-height: 30px;
      line-height: 20px;
      padding: 5px 5px;
      white-space: normal;
      color: #333;
      text-decoration: none;
    }
    // .profile-value,
    // .profile-value,
    // .profile-value:link,
    // .profile-value:active,
    // .profile-value:visited,
    // .profile-value:hover {
    //   display: block;
    //   margin-left: 80px;
    //   min-height: 30px;
    //   line-height: 20px;
    //   padding: 5px 5px;
    //   white-space: normal;
    //   color: #333;
    //   text-decoration: none;
    // }
    // .profile-value input {
    //   display: block;
    //   border: none;
    //   width: 100%;
    //   height: 100%;
    // }
    // .profile-submit {
    //   display: none;
    //   float: right;
    //   width: 50px;
    // }
    // .profile-item.dirty .profile-value {
    //   margin-right: 50px;
    // }
    // .profile-item.dirty .profile-submit {
    //   display: block;
    // }
  }
    
  .item-user-more {
    font-size: 0px;
    white-space: normal;
  }
  .user-more-item {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .user-more-item img {
    display: block;
    width: auto;
    height: 100px;
    margin: 0 auto;
  }
  .user-more-item p {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 35px;
  }
}

.view-user-groups {
  padding-bottom: 40px;
  overflow-y: scroll;
  .item-thumbnail-left {
    padding-left: 85px;
  }
  .item-thumbnail-left img {
    width: 60px;
    height: 106px;
    box-shadow: 3px 3px 10px -5px black;
  }
  .item-thumbnail-left h2 {
    margin-top: 6px;
    font-size: 18px;
    color: #333;
    font-weight: normal;
  }
  .item-thumbnail-left h3 {
    margin-top: 8px;
    font-size: 14px;
    color: #444;
    font-weight: normal;
  }
  .item-thumbnail-left p {
    font-size: 14px;
    color: #999;
    // white-space: normal;
    // line-height: 16px;
    // max-height: 32px;
  }
  .item-avatar {
    padding: 20px 60px 20px 85px;
    min-height: 100px;
  }
  .item-avatar > a {
    display: block;
  }
  .item-avatar > a,
  .item-avatar > a:link,
  .item-avatar > a:active,
  .item-avatar > a:visited,
  .item-avatar > a:hover {
    color: inherit;
    text-decoration: none;
  }
  .item-avatar > a img {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    left: 10px;
    top: 20px;
  }
  .item-avatar > a h2 {
    margin-top: 4px;
    font-size: 18px;
    color: #333;
  }
  .item-avatar > a p {
    margin-top: 8px;
    font-size: 14px;
    color: #999;
  }
  .item-avatar .icon-collapse {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 20px;
    width: 60px;
    height: 90px;
    line-height: 90px;
    color: #999;
    text-align: center;
  }

  .item.in-as-list {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0px 5px 20px -12px rgba(0, 0, 0, 0.5) inset, 0px -5px 20px -12px rgba(0, 0, 0, 0.5) inset;
    background-color: #fcfcfc;
  }
  .item-in-as-group {
    background-color: transparent;
    padding-left: 125px;
  }
  .item-in-as-group img {
    left: 50px;
  }
}

.view-user-rank {
  padding-bottom: 40px;
  overflow-y: scroll;
  .circular-button-bar {
    padding: 10px 30px;
    background-color: white;
    width: auto;
  }

  .circular-button-bar .button {
    height: 34px;
    min-height: 34px;
    line-height: 34px;
  }

  .item-rank {
    padding: 15px 75px 15px 145px;
    height: 90px;
  }
  .item-rank span,img {
    display: block;
    position: absolute;
    top: 15px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
  }
  .item-rank .rank-num {
    width: 50px;
    font-size: 14px;
    text-align: center;
    left: 15px;
  }
  .item-rank img {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 65px;
  }
  .item-rank .rank-score {
    width: 40px;
    font-size: 14px;
    text-align: right;
    right: 15px;
  }
  .item-rank h2 {
    font-size: 18px;
    line-height: 18px;
    margin: 21px auto;
  }
  .item-rank.self {
    background-color: #fef7dc;
  }

  .item-group {
    padding: 10px 90px 10px 110px;
    height: 152px;
  }
  .item-group img {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 80px;
    height: 132px;
    box-shadow: 3px 3px 10px -5px black;
  }
  .item-group h2 {
    font-size: 18px;
    line-height: 18px;
    white-space: nowrap;
    margin-top: 57px;
  }
  .item-group .rank-ratio {
    display: block;
    position: absolute;
    right: 20px;
    top: 61px;
    height: 30px;
    line-height: 30px;
    width: 60px;
    font-size: 18px;
    color: #999;
    text-align: right;
  }
  .item-group .rank-slash {
    margin-left: 5px;
    margin-right: 5px;
  }
  .item-group .rank-num {
    font-size: 26px;
    font-weight: bold;
    color: @color-orange;
  }
}

.view-user-rank-in-group {
  padding-bottom: 40px;
  overflow-y: scroll;

  .item-group-info {
    padding: 30px 15px 30px 130px;
    height: 192px;
  }
  .item-group-info img {
    display: block;
    position: absolute;
    left: 30px;
    top: 30px;
    width: 80px;
    height: 132px;
    box-shadow: 3px 3px 10px -5px black;
  }
  .item-group-info h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
  }
  .item-group-info h3 {
    margin-top: 7px;
    font-size: 16px;
    color: #666;
  }
  .item-group-info p {
    margin-top: 13px;
    font-size: 14px;
    color: #999;
  }

  .item-rank {
    padding: 15px 75px 15px 145px;
    height: 90px;
  }
  .item-rank span,img {
    display: block;
    position: absolute;
    top: 15px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
  }
  .item-rank .rank-num {
    width: 50px;
    font-size: 14px;
    text-align: center;
    left: 15px;
  }
  .item-rank img {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 65px;
  }
  .item-rank .rank-score {
    width: 40px;
    font-size: 14px;
    text-align: right;
    right: 15px;
  }
  .item-rank h2 {
    font-size: 18px;
    line-height: 18px;
    margin: 21px auto;
  }
  .item-rank.self {
    background-color: #fef7dc;
  }
}

.view-user-score {
  padding-bottom: 40px;
  overflow-y: scroll;

  .item-total {
    padding: 0px;
    height: 80px;
    padding: 30px 105px 30px 15px;
  }
  .item-total h2 {
    height: 20px;
    line-height: 20px;
    font-size: 18px;
  }
  .item-total .score {
    position: absolute;
    right: 20px;
    top: 0px;
    line-height: 80px;
    font-size: 24px;
    color: @color-orange;
    width: 70px;
    text-align: right;
    font-weight: bold;
  }

  .item-group {
    padding: 15px 95px 15px 90px;
    height: 136px;
    display: table;
    width: 100%;
  }
  .item-group img {
    display: block;
    position: absolute;
    left: 15px;
    top: 15px;
    width: 60px;
    height: 106px;
    box-shadow: 3px 3px 10px -5px black;
  }
  .item-group .score {
    position: absolute;
    right: 20px;
    top: 0px;
    line-height: 136px;
    font-size: 14px;
    color: #666;
    width: 70px;
    text-align: right;
    font-weight: normal;
  }
  .item-group .group-name {
    display: table;
    height: 106px;
  }
  .item-group h2 {
    white-space: normal;
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
  }

}

.view-user-remark {
  padding-bottom: 40px;
  overflow-y: scroll;

  .item-total {
    padding: 0px;
    height: 80px;
    padding: 30px 105px 30px 15px;
  }
  .item-total h2 {
    height: 20px;
    line-height: 20px;
    font-size: 18px;
  }
  .item-total .remark {
    position: absolute;
    right: 20px;
    top: 0px;
    line-height: 80px;
    font-size: 24px;
    color: @color-orange;
    width: 70px;
    text-align: right;
    font-weight: bold;
  }

  .item-group {
    padding: 15px 95px 15px 90px;
    height: 136px;
    display: table;
    width: 100%;
  }
  .item-group img {
    display: block;
    position: absolute;
    left: 15px;
    top: 15px;
    width: 60px;
    height: 106px;
    box-shadow: 3px 3px 10px -5px black;
  }
  .item-group .remark {
    position: absolute;
    right: 20px;
    top: 0px;
    line-height: 136px;
    font-size: 14px;
    color: #666;
    width: 70px;
    text-align: right;
    font-weight: normal;
  }
  .item-group .group-name {
    display: table;
    height: 106px;
  }
  .item-group h2 {
    white-space: normal;
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
  }

}

.view-user-remark-in-group {
  padding-bottom: 40px;
  overflow-y: scroll;

  .item-group-info {
    padding: 30px 15px 30px 130px;
    height: 192px;
  }
  .item-group-info img {
    display: block;
    position: absolute;
    left: 30px;
    top: 30px;
    width: 80px;
    height: 132px;
    box-shadow: 3px 3px 10px -5px black;
  }
  .item-group-info h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
  }
  .item-group-info h3 {
    margin-top: 7px;
    font-size: 16px;
    color: #666;
  }
  .item-group-info p {
    margin-top: 13px;
    font-size: 14px;
    color: #999;
  }
}

.view-user-read {
  padding-bottom: 40px;
  overflow-y: scroll;

  .item-total {
    padding: 0px;
    height: 80px;
    padding: 30px 125px 30px 15px;
  }
  .item-total h2 {
    height: 20px;
    line-height: 20px;
    font-size: 18px;
  }
  .item-total .read {
    position: absolute;
    right: 20px;
    top: 0px;
    line-height: 80px;
    font-size: 24px;
    color: @color-orange;
    width: 90px;
    text-align: right;
    font-weight: bold;
  }

  .item-thumbnail-left {
    padding-left: 85px;
  }
  .item-thumbnail-left img {
    width: 60px;
    height: 106px;
    box-shadow: 3px 3px 10px -5px black;
  }
  .item-thumbnail-left h2 {
    margin-top: 6px;
    font-size: 18px;
    color: #333;
    font-weight: normal;
  }
  .item-thumbnail-left h3 {
    margin-top: 8px;
    font-size: 14px;
    color: #444;
    font-weight: normal;
  }
  .item-thumbnail-left p {
    font-size: 14px;
    color: #999;
    // white-space: normal;
    // line-height: 16px;
    // max-height: 32px;
  }
}

.view-user-punch {
  padding-bottom: 40px;
  overflow-y: scroll;

  .item-total {
    padding: 0px;
    height: 80px;
    padding: 30px 125px 30px 15px;
  }
  .item-total h2 {
    height: 20px;
    line-height: 20px;
    font-size: 18px;
  }
  .item-total .punch {
    position: absolute;
    right: 20px;
    top: 0px;
    line-height: 80px;
    font-size: 24px;
    color: @color-orange;
    width: 90px;
    text-align: right;
    font-weight: bold;
  }
}

.calender-mixin(@calender-cell, @calender-gutter-half, @calender-font-size) {

  @calender-container-width: (@calender-cell + 2 * @calender-gutter-half) * 7;
  @calender-width: @calender-container-width - 2 * @calender-gutter-half;

  width: @calender-container-width;
  margin: 0 auto;
  font-size: 0px;

  .calender-yearmonth {
    width: @calender-width;
    margin: 0 auto;

    .yearmonth-left,
    .yearmonth-right {
      display: block;
      color: #999;
      font-size: @calender-font-size;
      line-height: 38px;
      text-align: center;
      width: 38px;
      height: 38px;
    }

    .yearmonth-left { float: left; }
    .yearmonth-right { float: right; }

    h2 {
      font-size: @calender-font-size * 1.1;
      line-height: @calender-font-size * 1.1;
      height: 38px;
      text-align: center;
      margin: 0px 38px;
      padding: 10px 0px;
    }
  }

  .calender-day-header {
    margin-top: @calender-font-size * 1.1;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ddd solid;
    .day {
      display: inline-block;
      vertical-align: top;
      width: @calender-cell;
      margin: 0px @calender-gutter-half;
      font-size: @calender-font-size;
      height: 20px;
      line-height: 20px;
      text-align: center;
    }
  }

  .calender-days {
    white-space: normal;
    .day,
    .day:link,
    .day:active,
    .day:visited,
    .day:hover {
      display: inline-block;
      vertical-align: top;
      width: @calender-cell;
      height: @calender-cell;
      line-height: @calender-cell;
      margin: @calender-gutter-half @calender-gutter-half;
      font-size: @calender-font-size;
      text-align: center;
      color: black;
      text-decoration: none;
      border-radius: 50%;

      &.punched {
        background-color: @color-yellow; 
      }
      &.today {
        color: @color-cyan;
        border: 1px @color-cyan solid;
      }
    }
  }
}

@media screen and (max-width: 239px) {
  @calender-cell: 24px;
  @calender-gutter-half: 2px;
  @calender-font-size: 14px;
  .calender { .calender-mixin(@calender-cell, @calender-gutter-half, @calender-font-size); }
}
@media screen and (min-width: 240px) and (max-width: 299px) {
  @calender-cell: 30px;
  @calender-gutter-half: 2px;
  @calender-font-size: 14px;
  .calender { .calender-mixin(@calender-cell, @calender-gutter-half, @calender-font-size); }
}
@media screen and (min-width: 300px) and (max-width: 359px) {
  @calender-cell: 34px;
  @calender-gutter-half: 4px;
  @calender-font-size: 14px;
  .calender { .calender-mixin(@calender-cell, @calender-gutter-half, @calender-font-size); }
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  @calender-cell: 39px;
  @calender-gutter-half: 6px;
  @calender-font-size: 16px;
  .calender { .calender-mixin(@calender-cell, @calender-gutter-half, @calender-font-size); }
}
@media screen and (min-width: 540px) {
  @calender-cell: 61px;
  @calender-gutter-half: 8px;
  @calender-font-size: 20px;
  .calender { .calender-mixin(@calender-cell, @calender-gutter-half, @calender-font-size); }
}

.view-user-punch-day{
  padding-bottom: 40px;
  overflow-y: scroll;
  .day-head {
    padding: 30px 30px;
  }
  .day-head h2 {
    font-size: 18px;
    line-height: 18px;
  }
}

.view-group-apply {
  padding-bottom: 40px;
  overflow-y: scroll;
  form {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
  }
  form .list {
    padding-bottom: 20px;
    border-top: 1px #ddd solid;
  }
  form label {
    padding: 6px 16px;
  }
  form .item {
    border: none;
  }
  form label span {
    margin-bottom: 7px;
  }
  input,
  textarea {
    padding: 7px 12px;
    background-color: #eee;
    border-radius: 4px;
  }
  input.error,
  textarea.error {
    border: 1px @color-red solid;
  }
  textarea {
    height: 80px;
    max-height: 80px;
    overflow-y: scroll;
    resize: none;
  }
  .error-msg {
    color: @color-red;
  }
  .button {
    display: block;
    width: 100%;
  }
}

















