ion-list
  ion-item.no-padding
    .row
      .col.col-60.col-offset-20
        .button-bar.circular-button-bar
          a.button.button-energized.slim-button(ng-class="{'button-energized': isActive('joinedGroups'), 'button-outline button-energized': !isActive('joinedGroups')}", ng-click="selectGroupSection('joinedGroups')") &#x521B;&#x5EFA;&#x7684;
          |       
          a.button.button-energized.slim-button(ng-class="{'button-energized': isActive('createdGroups'), 'button-outline button-energized': !isActive('createdGroups')}", ng-click="selectGroupSection('createdGroups')") &#x53C2;&#x52A0;&#x7684;
  |   
  div(ng-show="isActive('joinedGroups')", ng-include="'modules/myGroups/templates/joined-group-tpl.html'")
  |   
  div(ng-show="isActive('createdGroups')", ng-include="'modules/myGroups/templates/created-group-tpl.html'")
