ion-view.view-as-detail(view-title='社群')
    ion-content.as-detail
        .center-header
            .cover_warp(style="background-image:url({{data.image}})")
            h2 {{data.associationName}}
        .as-intr
            h2 社群简介
            p(ng-class="{'uncollapsed': intr_uncollapsed}") {{data.associationDesc}}
            .text-center
                i.icon.icon-collapse(ng-class="{'ion-ios-arrow-up': intr_uncollapsed, 'ion-ios-arrow-down': !intr_uncollapsed}" ng-click="intr_uncollapsed = !intr_uncollapsed")
        .book-cat-list
            .book-cat-item(ng-repeat="cat in categories" ng-show="cat.list.length > 0")
                h2 {{cat.name}}
                .book-list(ng-class="{'uncollapsed': cat.uncollapsed}")
                    a.book-item-wrapper(ng-repeat="book in cat.list" href="#/tab/group/{{book.id}}")
                        .book-item
                            img(src="{{book.groupImage}}")
                            p {{book.bookName}}
                            //- .round-badge.lg(ng-show="book.userStatus" ng-class="{'red': (book.userStatus == 1), 'gray': (book.userStatus == 2)}") {{ ["", "正在读", "已读完"][book.userStatus] }}
                            .round-badge.lg.cyan(ng-show="getGroupStatus(book) == 'ready'") 即将开始
                            .round-badge.lg.red(ng-show="getGroupStatus(book) == 'pending'") 正在进行
                            .round-badge.lg.gray(ng-show="getGroupStatus(book) == 'end'") 已结束
                .text-center
                    i.icon.icon-collapse(ng-show="cat.list.length > 6" ng-class="{'ion-ios-arrow-up': cat.uncollapsed, 'ion-ios-arrow-down': !cat.uncollapsed}" ng-click="cat.uncollapsed = !cat.uncollapsed")

















