ion-view.view-group-user-list(view-title='在读书友')
    ion-list
        a.item.item-avatar.rbb(ng-repeat="user in users" href="#/tab/user-detail/{{user.userId}}")
            img(src="{{user.headImage}}")
            h2 {{user.nickName}}
            p {{user.intro}}
            .round-badge.cyan.lg(ng-show="user.leader") 领读人