ion-view.view-group-detail-comment.pane-visible(title="书评")
    ion-pane.pane-visible
        .bar-light
            .button-bar.circular-button-bar
                a.button(ng-click="selectSection('hot')" ng-class="{'active': isActiveSection('hot')}") 热门
                a.button(ng-click="selectSection('recent')" ng-class="{'active': isActiveSection('recent')}") 时间
        ion-list
            a.item.item-avatar(ng-repeat="remark in activeList" href="#/tab/remark-detail/{{remark.remarkId}}")
                img(src="{{remark.headImage}}")
                h2 {{remark.userName}}
                p {{remark.createTime | date: 'yyyy-MM-dd  hh:mm'}}
                h1.title {{remark.title}}
                p.content {{remark.comment}}
                .meta
                    span.meta-item
                        i.icon.ion-thumbsup
                        span.number {{remark.totalLike}}
                    span.meta-item
                        i.icon.ion-android-chat
                        span.number {{remark.totalReply}}