ion-view.view-group-detail-intr.pane-visible(title="小组")
  ion-pane.pane-visible
    ion-list.intr-list
      .item.users-list-h-warp
        h3 {{data_users.length}}位书友
        a.user-avatar-horizontal(href="#/tab/group/{{data.id}}/users")
          .user-more
            .icon.ion-ios-arrow-right
          .user-avatars
            .avatar(ng-repeat="user in data_users", href="javascript:;")
                img(src="{{user.headImage}}")
      .item
        h4 读书标语
        p {{data.readSlogan}}
      .item(ng-show="data.groupDesc")
        h4 小组简介
        p.desc {{data.groupDesc}}
      .item
        h4 读书规则
        p 读书周期：{{data.beginDate | date:'yyyy.MM.dd'}} - {{data.endDate | date:'yyyy.MM.dd'}}
        p 打卡频率：{{data.frequency}}
        //- p 保证金金额：{{data.num}}元
        p 最晚加入时间：{{data.latestDate | date:'yyyy.MM.dd'}}
      .item(ng-show="data.bookSummary")
        h4 图书简介
        p.desc {{data.bookSummary}}
      .item
        a.button.button-circular.yellow(ng-show="!data.userStatus" ng-click="joinGroup()") 我要加入
        a.button.button-circular.red(ng-show="data.userStatus" ng-click="quitGroup()") 退出小组