ion-view(view-title='小组')
  ion-content.group-detail(overflow-scroll='true')
    .center-header
      .cover_warp
        img(ng-src="{{data.groupImage}}")
      h2 {{data.groupName}}
      h3 {{data.bookName}}
      h4 {{data.author}}
      .tabs-striped.tabs-background-light.custom-tabs
        .tabs
          a.tab-item(ui-sref="tab.group-detail.intr" ui-sref-active="active") 介绍
          a.tab-item(ui-sref="tab.group-detail.comment" ui-sref-active="active") 书评
          a.tab-item(ui-sref="tab.group-detail.activity" ui-sref-active="active") 活动
    ion-nav-view(name='tab-group-detail')

















