ion-view(title="小组")
  ion-pane
    .users-list-h-warp
      h3 {{data_users.length}}位书友
      .users-list-h(ui-sref="/tab")
        .row
          .col.col-90
            ul
              li(style="background-image:url({{user.headImage}})" ng-repeat='user in data_users')
          .col
            .ion-ios-arrow-right
    .intr-list
      ul.row.responsive-lg
        li.col
          h4 读书标语
          p {{data.readSlogan}}
        li.col
          h4 小组简介
          p {{data.groupDesc}}
        li.col
          h4 读书规则
          p 读书周期：{{data.beginDate}} - {{data.endDate}}
          p 打卡频率：{{data.frequency}}
          p 保证金金额：{{data.num}}元
          p 最晚加入时间：{{data.latestDate}}
        li.col
          h4 图书简介
          p {{data.bookSummary}}