ion-list.groups-list
  ion-item.item.item-thumbnail-left(href="#/tab/group/{{group.id}}" ng-repeat='group in data')
    img(ng-src="{{group.groupImage}}")
    h2 {{group.groupName}}
    h3 {{group.bookName}}
    //- p {{group.groupDesc}}
    .round-badge.lg.cyan(ng-show="getGroupStatus(group) == 'ready'") 即将开始
    .round-badge.lg.red(ng-show="getGroupStatus(group) == 'pending'") 正在进行
    .round-badge.lg.gray(ng-show="getGroupStatus(group) == 'end'") 已结束