ion-view(view-title='小组')
  ion-content.group-detail
    .center-header
      .cover_warp
        img(ng-src="{{data.groupImage}}")
      h2 {{data.groupName}}
      h3 {{data.bookName}}
      h4 {{data.author}}
      .tabs-striped.tabs-background-light.custom-tabs
        .tabs
          a.tab-item.active(ui-sref="tab.group-detail.intr") 介绍
          a.tab-item(ui-sref="tab.group-detail.comment") 书评
          a.tab-item(ui-sref="tab.group-detail.activity") 活动
    ion-nav-view(name='tab-group-detail')

















