ion-view.view-groups-center(view-title='发现')
  ion-header-bar.bar-light(align-title="center")
    .buttons
      button.button.button-icon.icon.ion-ios-search-strong
    h1.title
      .button-bar.circular-button-bar
        a.button(ng-click="selectSection('groups-list')" ng-class="{'active': isActiveSection('groups-list')}")  小组
        a.button(ng-click="selectSection('ass-list')" ng-class="{'active': isActiveSection('ass-list')}") 社群
    .buttons
      a.button.button-icon.icon.ion-android-add(href="#/tab/group-apply")
  ion-content.groups-center
    div(ng-if="isActiveSection('groups-list')" ng-include="'modules/groupsCenter/groups-list.html'" ng-controller='GroupsListCtrl')
    div(ng-if="isActiveSection('ass-list')" ng-include="'modules/groupsCenter/ass-list.html'" ng-controller='AssListCtrl')