ion-view.view-message-center(view-title="消息" ng-if="userId")
    ion-list
        a.item.item-avatar.rbb(href="#/tab/message/sys")
            img(src="src/img/icon_msg_sys.png")
            h2 系统消息
            p {{summary.sys.message}}
            span.round-badge.red(ng-if="summary.sys.unread")   {{summary.sys.unread}}
        a.item.item-avatar.rbb(href="#/tab/message/reply")
            img(src="src/img/icon_msg_reply.png")
            h2 评论
            p {{summary.reply.message}}
            span.round-badge.red(ng-if="summary.reply.unread") {{summary.reply.unread}}
        a.item.item-avatar.rbb(href="#/tab/message/like")
            img(src="src/img/icon_msg_like.png")
            h2 点赞
            p {{summary.like.message}}
            span.round-badge.red(ng-if="summary.like.unread")  {{summary.like.unread}}
ion-view.view-need-focus(view-title='请关注 MarkMark' ng-if="!userId && userIdLoaded")
    ion-content
        .card
            .item.item-text-wrapper
                p
                    | 请先关注
                    em MarkMark
                    | 公众号，开启“悦”读模式
                img(src="./src/img/qr_code.jpg")